# Введение в Pandas

In [1]:
import pandas as pd
df = pd.DataFrame()

In [2]:
df

Empty DataFrame
Columns: []
Index: []

In [3]:
df['STATS'] = [10, 8, 9]
df

   STATS
0     10
1      8
2      9

In [4]:
df['PROG'] = [9, 7, 10]
df

   STATS  PROG
0     10     9
1      8     7
2      9    10

In [5]:
print(df)
display(df)

   STATS  PROG
0     10     9
1      8     7
2      9    10

   STATS  PROG
0     10     9
1      8     7
2      9    10

In [6]:
df['AVERAGE'] = (df['STATS'] + df['PROG']) / 2
df

   STATS  PROG  AVERAGE
0     10     9      9.5
1      8     7      7.5
2      9    10      9.5

In [7]:
df.shape

(3, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATS    3 non-null      int64
 1   PROG     3 non-null      int64
 2   AVERAGE  3 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

In [9]:
df['PROG']

0     9
1     7
2    10
Name: PROG, dtype: int64

In [10]:
df['PROG'].dtype

dtype('int64')

In [11]:
df['PROG'].name

'PROG'

In [12]:
df['PROG'].values

array([ 9,  7, 10], dtype=int64)

In [13]:
type(df['PROG'].values)

numpy.ndarray

In [14]:
df[['STATS', 'PROG']]

   STATS  PROG
0     10     9
1      8     7
2      9    10

In [15]:
df[['AVERAGE', 'PROG']]

   AVERAGE  PROG
0      9.5     9
1      7.5     7
2      9.5    10

In [16]:
df.columns

Index(['STATS', 'PROG', 'AVERAGE'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df.iloc[0]

STATS      10.0
PROG        9.0
AVERAGE     9.5
Name: 0, dtype: float64

In [19]:
df.loc[0]

STATS      10.0
PROG        9.0
AVERAGE     9.5
Name: 0, dtype: float64

In [20]:
df.columns = ['STATS', 'PYTHON', 'AVERAGE']

In [21]:
df.index = ['Mark', 'Alice', 'Shushanik']

In [22]:
df

           STATS  PYTHON  AVERAGE
Mark          10       9      9.5
Alice          8       7      7.5
Shushanik      9      10      9.5

In [23]:
df.iloc[0]

STATS      10.0
PYTHON      9.0
AVERAGE     9.5
Name: Mark, dtype: float64

In [24]:
# df.loc[0]
df.loc['Mark']

STATS      10.0
PYTHON      9.0
AVERAGE     9.5
Name: Mark, dtype: float64

In [25]:
df['STATS'][1]

8

In [26]:
df.iloc[1]['STATS']

8.0

In [27]:
df.iloc[1,0]

8

In [28]:
df.loc['Alice', 'STATS']

8

# Загрузка данных в pandas

In [33]:
df_excel = pd.read_excel('coffee_stats.xlsx')

In [34]:
df_excel.head()

   Тип кофе     Размер        Сироп
0       раф    большой   шоколадный
1  капучино    большой    ванильный
2       раф  маленький      розовый
3       раф    большой  карамельный
4     латте  маленький          NaN

In [35]:
df_excel.tail()

     Тип кофе     Размер        Сироп
144     латте    большой  карамельный
145  капучино    большой     кленовый
146       раф    большой   шоколадный
147       раф    средний  карамельный
148  капучино  маленький          NaN

In [37]:
df_csv = pd.read_csv('students.csv')
df_csv.head()

        Имя Фамилия              EMAIL  КР  ИТОГ
0       Иван Иванов      ivanov@hse.ru   5     6
1       Петр Петров      petrov@hse.ru   8    10
2   Мария Кузнецова  kuznetsova@hse.ru   7     8
3  Татьяна Смирнова    smirnova@hse.ru   3     9
4    Камиль Ахметов    akhmetov@hse.ru   8     6

In [39]:
df_csv_sep = pd.read_csv('coffee_stats_2.csv')
df_csv_sep.head()

       раф;большой;шоколадный
0  капучино;большой;ванильный
1       раф;маленький;розовый
2     раф;большой;карамельный
3            латте;маленький;
4              латте;большой;

In [40]:
df_csv_sep = pd.read_csv('coffee_stats_2.csv', sep=';', header=None)
df_csv_sep.head()

          0          1            2
0       раф    большой   шоколадный
1  капучино    большой    ванильный
2       раф  маленький      розовый
3       раф    большой  карамельный
4     латте  маленький          NaN

In [41]:
df_csv_sep = pd.read_csv('coffee_stats_2.csv', 
                     sep=';', header=None, names=['Тип', 'Размер', 'Сироп'])
df_csv_sep.head()

        Тип     Размер        Сироп
0       раф    большой   шоколадный
1  капучино    большой    ванильный
2       раф  маленький      розовый
3       раф    большой  карамельный
4     латте  маленький          NaN

In [42]:
df_txt = pd.read_csv('forest.txt')
df_txt.head()

      year\thare\tlynx\tcarrot
0       1900\t30e3\t4e3\t48300
1   1901\t47.2e3\t6.1e3\t48200
2   1902\t70.2e3\t9.8e3\t41500
3  1903\t77.4e3\t35.2e3\t38200
4  1904\t36.3e3\t59.4e3\t40600

In [43]:
df_txt = pd.read_csv('forest.txt', sep='\t')
df_txt.head()

   year     hare     lynx  carrot
0  1900  30000.0   4000.0   48300
1  1901  47200.0   6100.0   48200
2  1902  70200.0   9800.0   41500
3  1903  77400.0  35200.0   38200
4  1904  36300.0  59400.0   40600